<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown" ngbDropdown>
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            ngbDropdownToggle
          >
            Customers
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <li>
              <a class="dropdown-item" routerLink="degreeview" ngbDropdownItem
                >360 degree view</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="segment" ngbDropdownItem
                >Segmentation</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item"><a href="#" class="nav-link">Campaigns</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Campaigns</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Campaigns</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Campaigns</a></li>
      </ul>
      <div>
        <img src="assets/download.svg" alt="" />
      </div>
    </div>
  </div>
</nav>
